####### PROJECT SETUP #######
PROJECT=WETRACKING
CHANNEL=

####### DB CONFIG #######
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=wetracking

####### JWT #######
JWTKEY=fsudfhuashfasjdiasj

####### TELEGRAM #######
TELEGRAM=false
TELEGRAM_TOKEN=5965893187:AAHy7Smx4RgysthpHcUw3Recj0d8iPsi_BY
TELEGRAM_CHAT_ID=-702725737

####### ROTA #######
BASE_PREFIX=/wetracking
APP_ROOT=C:\xampp\htdocs\wetracking

ENCODE=HS256
APP_KEY=hsdashdkjashdjkasd

####### RPA ######

RPA_URL=localhost:8080